@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

html,
body {
  background: $white;
  color: $dark;
  height: 100vh;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  line-height: 130%;
}

.full-height {
  display: grid;
  align-items: center;

  &.padding {
    padding: 5rem 0 3rem 0;
  }
}

.my-card {
  height: 10em;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 1em 0;
  padding: 2rem 2.3rem 2rem 2rem;
  box-shadow: $box-shadow;
  color: $primary;
  cursor: pointer;

  & img {
    height: 115px;
    width: auto;
    margin-left: auto;
  }
}

.my-colections,
.my-flashcards {
  height: 100%;
  padding: 1.5rem 1.5rem;
  border-radius: 1rem;

  & h6 {
    color: $dark;
  }

  & p {
    font-weight: 500;
    color: gray;
  }
}

.my-colections {
  background: $white;
  color: $dark;
  font-weight: 700;
  box-shadow: $box-shadow;
}

.my-flashcards {
  background: $secondary;
  color: $white;
  font-weight: 700;
}

.container-my-flashcards {
  margin-top: 2rem;
}

// Títulos
h1 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 130%;
  color: $primary;
  margin: 0 0 1rem 0;
}

// Textos
label {
  font-weight: 600;
  margin: 0.5rem 0 1rem 0;

  & span {
    color: $primary;
  }
}
.subtitle {
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 130%;
  margin: 0 0 1.5rem 0;
}

// Botões
.btn {
  background-color: $primary;
  color: $white;
  font-weight: 600;
  border-radius: 1rem;
  padding: 1rem 0;
  margin: 1.5rem 0;
  box-shadow: $box-shadow;
}

.q-btn::before {
  box-shadow: none;
}

.btn-create {
  padding: 5rem 0;
}

// Inputs
.q-field--outlined.q-field--rounded .q-field__control {
  border-radius: 1rem;
}

//Header
.header-mobile {
  background-color: $secondary;
  color: $dark;
  position: fixed;
  top: 0;
  padding: 1.5rem 1rem 1rem 1rem;
}
.q-toolbar__title {
  font-size: 0.9rem;
  font-weight: 500;
}

// Menu
.mobile-menu {
  width: 100%;
  background-color: $primary;
  color: $white;
  position: fixed;
  bottom: 0;
  padding: 0 2rem;

  & .justify-between {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

// Caroussel

.q-carousel {
  background-color: transparent;
}

.q-carousel__slide,
.q-carousel .q-carousel--padding {
  padding: 2rem 3rem;
}
